.home{
    flex: 4;
    background-color: rgba(237, 237, 237,.2);
    padding: 40px 0;
}
.socialMedia-container{
    widows: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}